<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-10  ">
                <div class="jumbotron">
                    <h2>Solution</h2>
                    <hr />
                    <h3>Current Available Denomination in Machine</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr *ngFor="let denom of denominations">
                                <th>{{ denom.value }}</th>
                                <td>{{ denom.count }}</td>
                                <td>|</td>
                                <td style="width: 200px;">
                                    <input type="number" [(ngModel)]="denom .count" />
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td id="td-total">{{totalAmount}}</td>
                                <td>|</td>
                                <td>
                                    <button class="btn btn-primary" (click)="deposit()">Deposit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="input-group">
                        <input id="inp-withdraw" type="text" class="form-control"
                            placeholder="Enter amount for withdrawal" [(ngModel)]="withdrawalAmount">
                        <span class="input-group-btn">
                            <button id="btn-withdraw" class="btn btn-success" type="button"
                                (click)="withdraw()">Withdraw!</button>
                        </span>
                    </div>
                    <hr />

                </div>
            </div>
        </div>
    </div>